1. **What are data structures, and why are they importan?**
    ans:-Data structures are organized way to store, manage and retrieve data efficiently. they are the foundation of writing optimized and saclable code in programming and are used in everything from simple applications to advance system like operating system, database and AI.

2.**Explain the difference between mutable and immutable data types with examples.**
      and:-1.mutable data can be modified after creation but immutable data cannot be changed after creation.
      2.mutable data are changes and reflected in the same object but in immutable data new object is created for any changes.
      3.mutable data are list,dictionary and set but immutable data are integer, float, string and tuple

In [1]:
# mutable data type example
fruits = ["apple", "guava", "banana"]
fruits[1] = "grapes"
print(fruits)

['apple', 'grapes', 'banana']

In [5]:
# immutable data type example
name = "vishal"
name[0] = "v" # this will through an error.
print(name)

TypeError: 'str' object does not support item assignment

3.**What are the main differences between lists and tuples in Python**
     ans:-in python list is mutable but tuple is immutable
     in list we use square bracket[] but in tuple we use parentheses()
     in list we can append and remove but in tuple fewer coumt, index only
     in list we can modify data but in tuple we cannot modify data
     list use more memory but tuple use less memory
     use a list when you need a dynemic, changable collection of items, but use a tuple when you want a immutable data like coordinated, config settin.

4.**Describe how dictionaries store data**
     ans:- a dictionary in python is a collection of key value pairs where each key is unique and is used to access its corresponding value under the hood python use a hash tabletp store and manage these pairs.
     key must be immutable and values can be any data type even lists or other dic.

5.**Why might you use a set instead of a list in Python**
      ans:- you might use a set intead of a list in python when you care about uniqueness and performance especially for membership checks and eliminating duplicates.
      list allows duplicates but set not
      use set when you want unique element fast membership testing and set based operators

6.**What is a string in Python, and how is it different from a list**
     ans:-a string is a fixed sequence of cheracters, while a list is a flexible sequence of item that you can change add to or remove from.
     use string while handling plain text and read only cheracter sequence but use list when grouping mix data and modifying contents

7.**How do tuples ensure data integrity in Python**
    ans:- a tuple is an immutable sequence type which means once its created its value cannot be change added or delete
    safe to use as keys in map deictionaryes and great for cocsistency cpmpact data storage.track historical records safely store snapshot of dat

8.**What is a hash table, and how does it relate to dictionaries in Python**
       ans"-a hash table is a data structure that stored key value pairs and allow fast data access useing a hash function.
       a dictinory in python is a high level user friendaly weapper arround a hash table data structure. uses hasting to store and retrieve data quickly.ensures data is unique by key and safely store

9.**Can lists contain different data types in Python**
     ans:-  yes a list in python can contain different type of data.
     pyhthon list are hetrerogeneous meaning there can hold a mix of
     integer(int), strings(str), floats(float),booleans(bool)
     other list tuple dict etc.

10.**Explain why strings are immutable in Python**
      ans:-in python string are immutable which means once a string is created it can not be changed.
      you cannot modify insert or delete cherectors in the original sting directly.

In [6]:
name = "vishal"
name[0] = "v" #this will through an error

TypeError: 'str' object does not support item assignment

In [7]:
name = "vishal"
new_name = "b" + name[1:]
print(new_name)  # this is a correct form

bishal

11.**What advantages do dictionaries offer over lists for certain tasks**
     ans:- dictionary are better when: you need fast access by a key , you want to store named values , you care about uniqueness of identifires.
     lists are better when:you need orderd,indexed, or repeat elements.

12.**Describe a scenario where using a tuple would be preferable over a list**
       and:-imagine you are developing a maping application, you need to store latitude and longitutde for specific location, and these values should never changes once set.
       gps coordinates are a fixed  pair (latitude, longitude)
       you don't want them  accidently modify
       tuple are immutable, which makes the data safe and read-only

13.**How do sets handle duplicate values in Python**
        ans:-handling duplicate values in python depends on what kind data you are working with (list, dict,files,ect)
        remove duplicate data from a list
        count drplicate values
        find only duplicate value
        remove duplicate from a list of dictionary by key
        remove duplicate lines in a file

14.**How does the “in” keyword work differently for lists and dictionaries**
       ans:-the in keyword is used to check for membership in a container (like list,dictionaries,sets )
       however its behave is  slightly different depending on the data type.
       in with a list:check for values.
       in with a dictionary:check for key only.

15.**Can you modify the elements of a tuple? Explain why or why not**
       ans:-no you can not modify the element of a tuple.
       tuple in python are immutable, which means once atuple is created, its element can not be changed,added to, or removed.but you can modify mutable items inside tuple like lists.

16.**What is a nested dictionary, and give an example of its use case**
ans:-  a nested dictionary is the dictionary inside anotherdictionary.it allowed you to store hierarchical or structured data useing key-value  pairs at multiple levels.

In [11]:
nested_dict = {
    "student1": {"name": "Vishal", "age": 22},
    "student2": {"name": "Aman", "age": 23}
}

17.**Describe the time complexity of accessing elements in a dictionary**
       ans:-too many keys hash to the same slot, Python must search linearly through a list of key-value pairs in that slot
	    	However, Python uses smart techniques (like open addressing and dynamic resizing) to minimize collisions.

In [12]:
my_dict = {"name": "Vishal", "age": 25}
print(my_dict["age"])  # Accessing value using the key "age"

25

18.**In what situations are lists preferred over dictionaries**
       ans:-While dictionaries (dict) are powerful for key-value mappings, lists (list) are better in certain situations, especially when order and sequence matter.
       you need to maintain order
       you are working with index or sequences
       you want to store duplicates
       you are performing shorting or slicing

19.**Why are dictionaries considered unordered, and how does that affect data retrieva**
      ans:-Dictionaries were unordered: the order in which you inserted keys was not preserved.If you added keys a, b, c — Python might return them in any order during iteration.
      Dictionaries were historically unordered due to their hash-based design.
Since Python 3.7, they preserve insertion order, but they are still not sorted.
      	Retrieving a value by key is always reliable
     	Looping through keys now keeps order, but shouldn't be used      where sorting matters.

20.**Explain the difference between a list and a dictionary in terms of data retrieval**
       ans:-List Retrieval by Index (Position)
        How it works:A list stores items in a sequence.You retrieve data using an index (starting from 0)
         Dictionary- Retrieval by Key (Name)
            How it works:
         	A dictionary stores data as key-value pairs.
	        You retrieve data using the key, not the position.

In [14]:
#1. Write a code to create a string with your name and print it
name = "Vishal Singh"
print("My name is:",name)

My name is: Vishal Singh

In [15]:
#2. Write a code to find the length of the string "Hello World"
text = "HelloWorld"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 10

In [16]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
text = "PythonProgramming"
sliced = text[:3]
print("First three characters:", sliced)

First three characters: Pyt

In [17]:
#4. Write a code to convert the string "hello" to uppercase
text = "hello"
upper_text = text.upper()
print("Uppercase:", upper_text)

Uppercase: HELLO

In [19]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [22]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [23]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [34]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [36]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:", second_element)

Second element: b

In [38]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [40]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [42]:
#12. 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print("Second-to-last element:", second_to_last_element)

Second-to-last element: blue

In [44]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print("Minimum number:", minimum_number)

Minimum number: 5

In [46]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [48]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [49]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'a', 'b'}

In [50]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

In [52]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Updated set:", my_set)

Updated set: {1, 2, 3}

In [53]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [54]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [56]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {
    "name": "Vishal",
    "age": 25,
    "city": "kolkata"
}
print("Dictionary:", my_dict)

Dictionary: {'name': 'Vishal', 'age': 25, 'city': 'kolkata'}

In [57]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [59]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [61]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [64]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = "city" in my_dict
print("Does 'city' exist in the dictionary?", city_exists)

Does 'city' exist in the dictionary? True

In [70]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)

In [71]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [7, 7, 11, 73, 89]

In [74]:
#28. Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "coconut", "pineapple", "dates", "elderberry"]
third_element = my_list[2]
print("Element at index 2:", third_element)

Element at index 2: pineapple

In [75]:
#29.Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
#30. Write a code to convert a list of strings into a set
my_list = ["cherry", "banana", "coconut", "banana"]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {'coconut', 'banana', 'cherry'}